/*---------Colors---------*/

:root
{
    --main-color: #b868df;
}

.newsTable span.link:hover
{
    /*Color variant*/
    color: var(--main-color);
}

h2
{
    color: var(--main-color);  
}

.boldLink
{    
    /*Color variant*/
	color: var(--main-color);
}

.scrollablebody tr td span.link
{

    /*Color variant*/
    color: var(--main-color);
}

.scrollablebody tr:hover .subrow_td span.link { /*Color variant*/color: var(--main-color);}

.Row1_Bold_sel td
{
    /*Color variant*/
    color: var(--main-color);       
}

.Row1_sel td
{
    /*Color variant*/
    color: var(--main-color);
}

a.img_excel
{
     /*Color variant*/
	    color: var(--main-color);
}

.contextcell span
{
	 /*Color variant*/
	color: var(--main-color);
}

a
{
	 /*Color variant*/
	color: var(--main-color); 
}

a:hover
{
	 /*Color variant*/
	color: var(--main-color);
}

.footer_menu a:hover
{
	 /*Color variant*/
	color: var(--main-color);
}

.main_favorites_headertext
{
	 /*Color variant*/
	color: var(--main-color);
}

.grid_remove_favorite
{
     /*Color variant*/
	color: var(--main-color);
}

.grid_add_favorite
{
	color: var(--main-color);
}

.newsDetailTitle
{
     /*Color variant*/
	color: var(--main-color);
}

.TitleLeft
{
	 /*Color variant*/
	color: var(--main-color);	    
}

.MyCalendar .ajax__calendar_today 
{
    /*Color variant*/
    color: var(--main-color);               
}

.MyCalendar .ajax__calendar_days .ajax__calendar_hover
{
    /*Color variant*/
    color: var(--main-color);             
}

.calendar .calendar_othermonthdaystyle:hover , 
.calendar .Day:hover,
.calendar .calendar_othermonthdaystyle:hover,
.calendar .calendar_weekendDdystyle:hover
{
	/*Color variant*/
    color: var(--main-color);
}

.LinkButton
{
      /*Color variant*/
	 color: var(--main-color);
}

.orarendtervezo
{
     /*Color variant*/
    border-color: var(--main-color);
}

.divButton {
    /*Color variant*/
   background-color: var(--main-color);
}

#npu_loading
{
    background-color: var(--main-color);
}

.modernui .listview li div.badge
{
    background-color: var(--main-color);
}

#mb1 li.menu-parent.has-target {
    color: var(--main-color) !important;
}

/*---------Images---------*/

.main_header_r
{
    /*Image Variant*/
	background-image:url(main_header_r.png);
}

.main_header_l
{
    /*Image Variant*/
	background-image:url(main_header_l.jpg);
}

.NeptunChooserSelected
{
    /*Image Variant*/
	background-image:url('https://i.imgur.com/GwjZXem.png');
}

.KollabChooserSelected
{
    /*Image Variant*/
    background-image:url('https://i.imgur.com/GwjZXem.png');
}

.buttonlink
{
    /*Image Variant*/
    background-image:url(button_normal_right.png);
}

.buttonlink:hover
{
    /*Image Variant*/
    background-image:url(button_normal_right.png);
}

.btnRoundedSpan
{
    /*Image Variant*/
    background-image:url(button_normal_left.png);
}

.grid_searchbutton,
.button
{
    /*Image Variant*/
    background-image:url(button_normal_right.png);
}

.contextitem:hover,
.almenu_item:hover,
.contextitemschedule:hover,
.contextitem:focus,
.almenu_item:focus,
.contextitemschedule:focus
{
    /*Image Variant*/
    background-image:url(submenu_item_hover_01.png);
}

ul.menu .menu-hover 
{
    /*Image Variant*/
    background-image: url(submenu_item_hover_01.png);
}

ul.menu .menu-focus 
{
    /*Image Variant*/
    background:url(submenu_item_hover_01.png);
}

.tableRowName
{
    /*Image Variant*/
    background-image:url(row_init.png);
}

.tableRowNameSubjectSignin
{
    /*Image Variant*/
    background-image:url(row_init.png);
}
.messagetable td
{
    /*Image Variant*/
	background-image:url(row_init.png);
}

.divTableCellLabel
{
    /*Image Variant*/
    background-image:url(row_init.png);
}

.sda .ajax__tab_active .ajax__tab_outer
{
    /*Image Variant*/
    background-image:url(tab_active_right.png) !important;
    background-repeat: no-repeat;
}

.sda .ajax__tab_active .ajax__tab_inner
{
    /*Image Variant*/
    background-image:url(tab_active_left.png) !important;
    background-repeat: no-repeat;
}

.sda .ajax__tab_active .ajax__tab_tab
{
    /*Image Variant*/
    background-image:url(tab_active_background.png) !important;
}

img #upFilter_searchpanel_expandedimage
{
    content: url(searchpanel_up.png);
}

img #upFilter_searchpanel_collapsedimage
{
    content: url(searchpanel_down.png);
}

img #mainfunctionarrow
{
    content: url(right_arrow.png);
}
