/*---------Colors---------*/

:root
{
    --main-color: #b868df;
}


/*---------Images---------*/

.main_header_r
{
    /*Image Variant*/
	background-image:url(main_header_r.png);
}

.main_header_l
{
    /*Image Variant*/
	background-image:url(main_header_l.jpg);
}

.NeptunChooserSelected
{
    /*Image Variant*/
	background-image:url('https://i.imgur.com/GwjZXem.png');
}

.KollabChooserSelected
{
    /*Image Variant*/
    background-image:url('https://i.imgur.com/GwjZXem.png');
}

.buttonlink
{
    /*Image Variant*/
    background-image:url(button_normal_right.png);
}

.buttonlink:hover
{
    /*Image Variant*/
    background-image:url(button_normal_right.png);
}

.btnRoundedSpan
{
    /*Image Variant*/
    background-image:url(button_normal_left.png);
}

.grid_searchbutton,
.button
{
    /*Image Variant*/
    background-image:url(button_normal_right.png);
}

.contextitem:hover,
.almenu_item:hover,
.contextitemschedule:hover,
.contextitem:focus,
.almenu_item:focus,
.contextitemschedule:focus
{
    /*Image Variant*/
    background-image:url(submenu_item_hover_01.png);
}

ul.menu .menu-hover 
{
    /*Image Variant*/
    background-image: url(submenu_item_hover_01.png);
}

ul.menu .menu-focus 
{
    /*Image Variant*/
    background:url(submenu_item_hover_01.png);
}

.tableRowName
{
    /*Image Variant*/
    background-image:url(row_init.png);
}

.tableRowNameSubjectSignin
{
    /*Image Variant*/
    background-image:url(row_init.png);
}
.messagetable td
{
    /*Image Variant*/
	background-image:url(row_init.png);
}

.divTableCellLabel
{
    /*Image Variant*/
    background-image:url(row_init.png);
}

.sda .ajax__tab_active .ajax__tab_outer
{
    /*Image Variant*/
    background-image:url(tab_active_right.png) !important;
    background-repeat: no-repeat;
}

.sda .ajax__tab_active .ajax__tab_inner
{
    /*Image Variant*/
    background-image:url(tab_active_left.png) !important;
    background-repeat: no-repeat;
}

.sda .ajax__tab_active .ajax__tab_tab
{
    /*Image Variant*/
    background-image:url(tab_active_background.png) !important;
}

img #upFilter_searchpanel_expandedimage
{
    content: url(searchpanel_up.png);
}

img #upFilter_searchpanel_collapsedimage
{
    content: url(searchpanel_down.png);
}

img #mainfunctionarrow
{
    content: url(right_arrow.png);
}
